<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chc.dts.api.dao.DeviceMapper">

    <select id="selectActiveIpAndPortByTcpModel" resultMap="selectActiveIpAndPortMap">
        select info.channel_code, info.ip, info.port
        from channel_info info
                 left join device de on info.channel_code = de.channel_code
        where info.deleted = false
          and info.status = 0
          and de.tcp_model = #{model}
          and de.device_status = 0
          and de.deleted = false
    </select>
    <select id="selectDeviceByLocalAddress" resultType="chc.dts.api.entity.Device">
        select *
        from device
        where channel_code = (select channel_code from channel_info where ip = #{ip} and port = #{port} and deleted = false)
    </select>
    <select id="selectDropdownList" resultType="chc.dts.api.controller.vo.DeviceCodeAndNameResq">
        select de.device_code, device_name
        from device de
        where de.tcp_model = #{model}
          and de.device_status = 0
          and de.deleted = false
    </select>
    <resultMap id="selectActiveIpAndPortMap" type="chc.dts.common.core.KeyValue">
        <result property="key" column="ip"/>
        <result property="value" column="port"/>
    </resultMap>
</mapper>
